<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/songM.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/songM.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
    <link rel = "icon" href = "https://sv1.picz.in.th/images/2021/03/29/DXzUM8.png" type = "image/x-icon">
<head>
    <title>FLEX MANAGE</title>
    <header id="head"> 
        <a class="logo" id="logo">FLEX</a>
        <a style="margin-right: -5%;">
            <a id="lock" class="fa fa-home" href="/main" style="text-decoration: none; font-size: 250%; margin-left: 80%; color:white;"></a>
        <a id="signout" href="/logout" class="fa fa-sign-out" style="text-decoration: none; font-size: 250%; margin-left: 3%; color:white;"></a>
        <a><img id="mode" onclick="switchmode()" class="mode_pic" src="https://sv1.picz.in.th/images/2021/04/16/AZxQYu.png"></a> 
        </a>
    </header>
</head>
<% if(success && success.length > 0) { %>
    <div id="success-bar"><span class="check fa fa-check"></span><%= success %></div>
  <% } %>
<div class="sidenav" id="sidenav">
    <div>
        <br>
        <a id="songM" style="background-color: black;" href="/songM"><span class="fa fa-music" style="margin-right: 3%;"></span style="background: black;">   Song management
        </a><br><br>
        <a id="userM" href="/userM"><span class="fa fa-user" style="margin-right: 3%; "></span>   User management</a><br><br>
        <a id="playlistM" href="/convert"><span class="fa fa-youtube" style="margin-right: 3%; "></span>   Youtube Converter</a>
    </div>
  </div>
<body>
        <div id="cover" class="container">
            <div class="control-header">
                <form action="/songM/search" method="POST">
                    <input id="myInput" autocomplete="off" name="search" class="search" placeholder="Search by Name" onfocus="placeholder = ' '" onblur="placeholder = 'Search by Name' ">
                    <button id="sub-btn" type="submit">Search</button>
                    <a id="add" onclick="add()" class="fa fa-plus-square"></a>
                </form>
            </div>
            <form class="sortkung">
                <select id="sort" class="select" name="sorting" onchange="startsort()">
                    <option value="">Sort By :</option>
                    <option value="name">Sort by name</option>
                    <option value="artist">Sort by Artist</option>
                    <option value="view">Sort by Viewer</option>
                    <option value="default">Sort by default</option>
                </select>
            </form>
            
            <table id="detail">
                <tr>
                  <th>Track No.</th>
                  <th>Name</th>
                  <th>Artist</th>
                  <th>Viewer</th>
                  <th>Release Date</th>
                  <th></th>
                  <th></th>
                </tr>
                <% song.forEach(function(song){ %>
                <tr class="sort-default">
                    <td><%= song.id %></td>
                    <td><%= song.name %></td>
                    <td><%= song.artist %></td>
                    <td><%= song.viewer %></td>
                    <td><%= song.Release %></td>
                    <td><a class="fa fa-edit edit" href="/songM/edit/<%= song.id %>"></a></td>
                    <td><a class="fa fa-remove remove" onclick="confirmcheck('<%= song.id %>')"></a></td>
                </tr>
                <% }); %>
                <% name.forEach(function(song){ %>
                    <tr class="sort-name">
                        <td><%= song.id %></td>
                        <td><%= song.name %></td>
                        <td><%= song.artist %></td>
                        <td><%= song.viewer %></td>
                        <td><%= song.Release %></td>
                        <td><a class="fa fa-edit edit" href="/songM/edit/<%= song.id %>"></a></td>
                        <td><a class="fa fa-remove remove" onclick="confirmcheck('<%= song.id %>')"></a></td>
                    </tr>
                    <% }); %>
                    <% artist.forEach(function(song){ %>
                        <tr class="sort-artist">
                            <td><%= song.id %></td>
                            <td><%= song.name %></td>
                            <td><%= song.artist %></td>
                            <td><%= song.viewer %></td>
                            <td><%= song.Release %></td>
                            <td><a class="fa fa-edit edit" href="/songM/edit/<%= song.id %>"></a></td>
                            <td><a class="fa fa-remove remove" onclick="confirmcheck('<%= song.id %>')"></a></td>
                        </tr>
                    <% }); %>
                    <% view.forEach(function(song){ %>
                            <tr class="sort-view">
                                <td><%= song.id %></td>
                                <td><%= song.name %></td>
                                <td><%= song.artist %></td>
                                <td><%= song.viewer %></td>
                                <td><%= song.Release %></td>
                                <td><a class="fa fa-edit edit" href="/songM/edit/<%= song.id %>"></a></td>
                                <td><a class="fa fa-remove remove" onclick="confirmcheck('<%= song.id %>')"></a></td>
                            </tr>
                    <% }); %>
              </table>
            <div style="margin-top: 2%;"></div>
            
        </div>
        <div id="addnew" class="container2">
            <a onclick="unadd()" class="fa fa-close" style="font-size: 300%; margin-top: 2%; margin-bottom: 5%; color:red; margin-left: 90%;"></a>
        <div class="header_add">
            DATA  INSERT  SONG
        </div>
        <label for="choose" >
            <img id="image" class="pic" src="/photo/gallery.png">
        </label>
        <form action="/songM/add" method="POST" enctype="multipart/form-data">
            <div style="margin-left: 1%;">
                <a style="margin-right: 0.5%; font-size: 150%;" class="fa fa-music"></a>
                <a class="text">Song name : </a>
                <input class="inp" name='sname' type="text" autocomplete="on" required>
            </div>
            <div style="margin-left: 0.3%; margin-top: 2%;">
                <a style="margin-right: 0.5%; font-size: 150%;" class="fa fa-user"></a>
                <a class="text">Song Author : </a>
                <input class="inp2" name='sauthor' type="text" autocomplete="on" list='authorlist' required>
                <datalist id="authorlist">
                    <% artistforinput.forEach(function(song){ %>
                        <option><%= song %></option>
                    <% }) %>
                </datalist>
            </div>
            <div style="margin-right: 0.3%; margin-top: 2%;">
                <a style="margin-right: 0.5%; font-size: 150%;" class="fa fa-calendar-times-o"></a>
                <a class="text">Song Release : </a>
                <input class="inp3" name='stime' type="date" required>
            </div>
            <div style="margin-right: 34%; margin-top: 2%;">
                <a style="margin-right: 0.5%; font-size: 150%;" class="fa fa-image"></a>
                <a class="text">Song Image : </a>
                <input id="choose" class="inp4" name='spic' type="file" onchange="previewFile()" accept="image/*" required>
            </div>
            <div style="margin-right: -65.7%; margin-top: -2%;">
                <a style="margin-right: 0.5%; font-size: 150%;" class="fa fa-file-audio-o"></a>
                <a class="text">Song Audio File : </a>
                <input class="inp4" name='saudio' type="file" accept="audio/*" required>
            </div>
            <div style="margin-left: 0.3%; margin-top: 2%;">
                <a style="margin-right: 0.5%; font-size: 150%;" class="fa fa-clock-o"></a>
                <a class="text">Duration : </a>
                <input class="inp" value="<%= song.duration %>" name='sduration' type="text" autocomplete="on" required>
            </div>
            <div style="margin-left: 0.3%; margin-top: 2%;">
                <a style="margin-right: 0.5%; font-size: 150%;" class="fa fa-tag"></a>
                <a class="text">Genre : </a>
                <select class="inp" name="sgen" required>
                    <option value="Rock">Rock</option>
                    <option value="Pop">Pop music</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Classic">Classical</option>
                    <option value="Anime">Anime</option>
                    <option value="Orchestra">Orchestra</option>
                    <option value="Country">Country</option>
                    <option value="Arcade">Arcade Games</option>
                    <option value="Dance">Dance Pop</option>
                    <option value="Acoustic">Acoustic</option>
                </select>
            </div>
            <br><br>
            <button type="submit" class="sub-add-btn">Save & Changes</button>
        </form>
        </div>
        <div id="confirm-wrapper">
            <div id="confirm-inside-wrapper">
                <a id="confirmlogo" class="fa fa-times-circle"></a><br><br>
                <a id="confirmheader">Are you sure ?</a><br>
                <a id="confirmmiddle">You will not be able to recover your account</a><br><br>
                <a id="cancle" onclick="cancle()">CANCLE</a>
                <a id="confirm" onclick="confirm()">CONFIRM</a>
            </div>
        </div>
</body>
</html>